html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: #4f3a6a;
}
   
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -27px;
    left: 0;
    color: #FFC6AC;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;

}

    
.btn-go:hover{
        background-color: #FFC6AC;
        font-weight: 500 !important;
        color: white;
}
.font-fam{
        font-family: 'Poppins',sans-serif;
}
.btn-go{
        border: none;
        padding: 8px 20px;
        font-size: 16px;
        cursor: pointer;
        animation: blink 3s infinite; /* Adjust the duration as needed */
        border-radius: 10px;
        box-shadow: 0 5px 25px #FFC6AC;
}
@keyframes blink {
        0% { box-shadow: 0 5px 25px #FFC6AC; }
        50% { box-shadow: none; }
        100% { box-shadow: 0 5px 25px #FFC6AC; }
}
    